include:
  - '/.gitlab-ci/variables.yml'

variables:
  extends: .default_variables

stages:
  - build
  - qa
  - deploy
  - rollback

################################################################################
# BUILD jobs.
################################################################################
composer:
  image: gitlab.com/gealion1/docker-images/php:${CI_PHP_VERSION}
  stage: build
  script: |
    set -e
    composer validate --no-check-all --ansi
    composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader --ignore-platform-reqs
  allow_failure: false
  tags:
    - docker-nonswiss-ok
  only:
    - merge_requests
    - develop
    - stage
    - main
    - tags
  artifacts:
    expire_in: '1h'
    paths:
      - vendor
      - web/core
      - web/modules/contrib
      - web/profiles/contrib
      - web/themes/contrib
      - web/libraries
      - drush/Commands

npm:
  image: gitlab.com/gealion1/docker-images/node:${CI_NODE_VERSION}
  stage: build
  script:
    - set -e
    - cd ${CI_THEME_ROOT}
    - npm install
    - npm run build
  allow_failure: false
  tags:
    - docker-nonswiss-ok
  only:
    - merge_requests
    - development
    - stage
    - main
    - tags
  artifacts:
    expire_in: '1h'
    paths:
      - ${CI_THEME_ROOT}

################################################################################
# QA jobs.
################################################################################

phpcs:
  image: gitlab.com/gealion1/docker-images/php:${CI_PHP_VERSION}
  stage: qa
  script:
    - set -e
    - vendor/bin/phpcs -p --colors --standard=${CI_QA_PHPCS_STANDARD} --extensions=${CI_QA_SUFFIX} ${CI_DIRS_QA_PHPCS} --ignore='web/core,**/node_modules/**'
  only:
    - merge_requests
    - main
    - stage
  allow_failure: false

phpstan:
  image: gitlab.com/gealion1/docker-images/php:${CI_PHP_VERSION}
  stage: qa
  allow_failure: false
  only:
    - merge_requests
    - main
    - stage
  script:
    # Avoid phpstan failing.
    - cd ${CI_DOC_ROOT}
    - ${CI_DOC_ROOT}/vendor/bin/phpstan analyze ${CI_DIRS_QA_PHPSTAN}
      --no-progress
      --configuration ${CI_QA_CONFIG_PHPSTAN}
      --error-format table
      --memory-limit 4G

################################################################################
# Deploy job.
################################################################################

.deployment_script: &deployment_script
  stage: deploy
  image: gitlab.com/gealion1/docker-images/rsync
  before_script:
    - set -e
    - mkdir -p build/dist
    - tar --exclude=".[^/]*" -czf build/dist/$(date +"%Y%m%d%H%M").tar.gz  *
    - eval $(ssh-agent -s)
    - chmod 400 "${SSH_PRIVATE_KEY}"
    - ssh-add "${SSH_PRIVATE_KEY}"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - |
      curl -X POST -H "Content-type: application/json" --data "{
        'attachments': [
          {
            'color': '#0000ff',
            'blocks': [
              {
                'type': 'section',
                'text': {
                  'type': 'mrkdwn',
                  'text': '*Deployment pipeline started* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                }
              }
            ]
          }
        ]
      }" "$SLACK_WEBHOOK_URL"
  script:
    - ./scripts/gitlab/deploy.sh
  after_script:
    - |
      if [ $CI_JOB_STATUS == 'failed' ]; then
        curl -X POST -H "Content-type: application/json" --data "{
          'attachments': [
            {
              'color': '#ff0909',
              'blocks': [
                {
                  'type': 'section',
                  'text': {
                    'type': 'mrkdwn',
                    'text': '*Deployment pipeline failed* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                  }
                }
              ]
            }
          ]
        }" "$SLACK_WEBHOOK_URL"
      elif [ $CI_JOB_STATUS == 'success' ]; then
        curl -X POST -H "Content-type: application/json" --data "{
          'attachments': [
            {
              'color': '#00c100',
              'blocks': [
                {
                  'type': 'section',
                  'text': {
                    'type': 'mrkdwn',
                    'text': '*Deployment pipeline succeeded* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                  }
                }
              ]
            }
          ]
        }" "$SLACK_WEBHOOK_URL"
      fi

deploy:DEV:
  <<: *deployment_script
  variables:
    SSH_HOST: ${DEV_SSH_HOST}
    SSH_PORT: ${DEV_SSH_PORT}
    SSH_OPTIONS: ${DEV_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${DEV_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${DEV_PROJECT_REMOTE_WEBROOT}
  environment:
    name: development
    url: ${DEV_URL}
  when: manual
  only:
    - merge_requests
    - development
    - stage
    - main

deploy:STAGE:
  <<: *deployment_script
  variables:
    SSH_HOST: ${STAGE_SSH_HOST}
    SSH_PORT: ${STAGE_SSH_PORT}
    SSH_OPTIONS: ${STAGE_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${STAGE_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${STAGE_PROJECT_REMOTE_WEBROOT}
  environment:
    name: stage
    url: ${STAGE_URL}
  when: manual
  only:
    - stage
    - main

deploy:PROD:
  <<: *deployment_script
  variables:
    SSH_HOST: ${PROD_SSH_HOST}
    SSH_PORT: ${PROD_SSH_PORT}
    SSH_OPTIONS: ${PROD_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${PROD_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${PROD_PROJECT_REMOTE_WEBROOT}
  environment:
    name: prod
    url: ${PROD_URL}
  when: manual
  only:
    - tags

################################################################################
# Rollback job.
################################################################################

.rollback_script: &rollback_script
  stage: rollback
  image: gitlab.com/gealion1/docker-images/rsync
  when: manual
  before_script:
    - eval $(ssh-agent -s)
    - chmod 400 "${SSH_PRIVATE_KEY}"
    - ssh-add "${SSH_PRIVATE_KEY}"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "${SSH_KNOWN_HOSTS}" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - |
      curl -X POST -H "Content-type: application/json" --data "{
        'attachments': [
          {
            'color': '#0000ff',
            'blocks': [
              {
                'type': 'section',
                'text': {
                  'type': 'mrkdwn',
                  'text': '*Rollback pipeline started* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                }
              }
            ]
          }
        ]
      }" "$SLACK_WEBHOOK_URL"
  script:
    - ./scripts/gitlab/rollback.sh ${PROJECT_REMOTE_DIR} ${PROJECT_REMOTE_WEBROOT}
  after_script:
    - |
      if [ $CI_JOB_STATUS == 'failed' ]; then
        curl -X POST -H "Content-type: application/json" --data "{
          'attachments': [
            {
              'color': '#ff0909',
              'blocks': [
                {
                  'type': 'section',
                  'text': {
                    'type': 'mrkdwn',
                    'text': '*Rollback pipeline failed* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                  }
                }
              ]
            }
          ]
        }" "$SLACK_WEBHOOK_URL"
      elif [ $CI_JOB_STATUS == 'success' ]; then
        curl -X POST -H "Content-type: application/json" --data "{
          'attachments': [
            {
              'color': '#00c100',
              'blocks': [
                {
                  'type': 'section',
                  'text': {
                    'type': 'mrkdwn',
                    'text': '*Rollback pipeline succeeded* \n\n *Project:* $CI_PROJECT_TITLE \n *Environment:* $CI_ENVIRONMENT_NAME \n *Pipeline ID:* <$CI_PIPELINE_URL|$CI_PIPELINE_ID> \n *Triggered by:* $GITLAB_USER_NAME'
                  }
                }
              ]
            }
          ]
        }" "$SLACK_WEBHOOK_URL"
      fi
      
rollback:DEV:
  <<: *rollback_script
  variables:
    SSH_HOST: ${DEV_SSH_HOST}
    SSH_PORT: ${DEV_SSH_PORT}
    SSH_OPTIONS: ${DEV_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${DEV_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${DEV_PROJECT_REMOTE_WEBROOT}
  environment:
    name: development
    url: ${DEV_URL}
  needs: ["deploy:DEV"]
  only:
    - merge_requests
    - development
    - stage
    - main

rollback:STAGE:
  <<: *rollback_script
  variables:
    SSH_HOST: ${STAGE_SSH_HOST}
    SSH_PORT: ${STAGE_SSH_PORT}
    SSH_OPTIONS: ${STAGE_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${STAGE_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${STAGE_PROJECT_REMOTE_WEBROOT}
  environment:
    name: stage
    url: ${STAGE_URL}
  needs: ["deploy:STAGE"]
  only:
    - stage
    - main

rollback:PROD:
  <<: *rollback_script
  variables:
    SSH_HOST: ${PROD_SSH_HOST}
    SSH_PORT: ${PROD_SSH_PORT}
    SSH_OPTIONS: ${PROD_SSH_OPTIONS}
    PROJECT_REMOTE_DIR: ${PROD_PROJECT_REMOTE_DIR}
    PROJECT_REMOTE_WEBROOT: ${PROD_PROJECT_REMOTE_WEBROOT}
  environment:
    name: prod
    url: ${PROD_URL}
  needs: ["deploy:PROD"]
  only:
    - tags